.link {
    color: #0f172a;
    padding: 0.4rem 0.7rem;
    transition: all .2s linear;
}

.link:hover, .link:focus {
    background-color: #0f172a;
    color: white;
}

.active {
    border-top: 1px solid #0f172a;
    border-bottom: 1px solid #0f172a;
}