.search {
    position: relative;
    max-width: 500px;
    margin: 1rem 0;
    width: 100%
}

.searchInput {
    width: 100%;
    height: 2rem;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    outline: none;
    padding: 0.2rem 0.5rem;
    font-size: 0.9em;
    color: #818181;
}

.searchLabel {
    color: #818181;
    font-size: 0.9em;
    position: absolute;
    top: 50%;
    left: 0.6rem;
    transform: translate(0, -50%);
    transition: all .2s linear;
}

.searchInput:focus + .searchLabel,
.searchInput:active + .searchLabel {
    top: 0;
    font-size: 0.7em;
    padding: 0 0.4em;
    background-color: white;
}

.searchInput::placeholder,
.searchInput::placeholder {
    opacity: 1;
    transition: all .2s linear;
}

.searchInput:focus::placeholder,
.searchInput:active::placeholder {
    opacity: 0;
}